@charset "UTF-8";
/*Basic settings*/ /*Обнуление списков*/
/*Обнуление кнопки*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.wrap {
  width: 1140px;
  margin: 0px auto;
}

.main {
  flex-grow: 1;
}

.project-btn__style:hover {
  color: #e1e1e1;
  background: #ef5b70;
  border: none;
  outline: none;
}

.nule-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/*Header settings*/
/*Обнуление списков*/
/*Обнуление кнопки*/
.header {
  background: #222222;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
}

.header-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
  align-items: center;
}
.header-list__svg {
  fill: #e8e8e8;
}
.header-list__svg:hover {
  fill: #f16d7f;
}
.header-list__button {
  background: none;
  border: none;
  cursor: pointer;
}

.header-logo {
  text-decoration: none;
}

/*Promo settings*/
.promo {
  background-color: #f1e4e6;
  margin-bottom: 65px;
}
.promo-wrap {
  height: 764px;
  background-image: url("../source/images/promo.png");
  background-repeat: no-repeat;
  background-position: -225px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.promo-title {
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  border-left: 13px #f16d7f solid;
  padding-left: 16px;
}
.promo-title__bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}
.promo-title__pink {
  color: #f16d7f;
}

/*Categories settings*/
/*Обнуление списков*/
/*Обнуление кнопки*/
.categories {
  color: #e5e5e5;
  margin-bottom: 96px;
}

.categories-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  gap: 30px;
}
.categories-list__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories-list__item:first-child {
  width: 360px;
  background-image: url("../source/images/cat_w.jpg");
  min-height: 260px;
}
.categories-list__item:nth-child(2) {
  width: 360px;
  background-image: url("../source/images/cat_m.jpg");
  min-height: 260px;
}
.categories-list__item:nth-child(3) {
  width: 360px;
  background-image: url("../source/images/cat_ch.jpg");
  min-height: 260px;
}
.categories-list__item:last-child {
  background-image: url("../source/images/cat_acs.png");
  min-height: 180px;
  width: 100%;
}

.categories-list__title {
  width: 100%;
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}
.categories-list__title::first-line {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

/*Product settings*/
/*Обнуление списков*/
/*Обнуление кнопки*/
.product {
  margin-bottom: 95px;
}

.product-base {
  margin-bottom: 48px;
}

.product-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.product-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 30px;
  margin-bottom: 48px;
}

.product-box__catalog {
  margin-top: 64px;
}

.product-card {
  width: 360px;
  background: #f8f8f8;
}
.product-card__info {
  padding: 25px 28px;
}
.product-card__image {
  height: 420px;
}
.product-card__name {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 13px;
}
.product-card__describe {
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 18px;
}
.product-card__price {
  font-size: 13px;
  line-height: 19px;
  color: #f16d7f;
  text-decoration: none;
  padding: 5px;
  border: 1px solid #f16d7f;
  border-radius: 5px;
}

.product-browse {
  display: flex;
  justify-content: center;
}
.product-browse__button {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  text-decoration: none;
  display: block;
  padding: 15px 40px;
  outline: 1px #f16d7f solid;
}

/*Feedback settings*/
.feedback {
  width: 100%;
  background-image: url("../source/images/bgc_feedback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 448px;
}
.feedback-wrap {
  display: flex;
  justify-content: space-between;
  padding: 97px 0px 127px 0px;
}

.feedback-user {
  display: flex;
  flex-direction: column;
}
.feedback-user__avatar {
  align-self: center;
}
.feedback-user__text {
  margin-top: 30px;
  width: 362px;
  text-align: center;
}

.feedback-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback-subscribe__title {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.feedback-subscribe__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.feedback-subscribe__form {
  margin-top: 32px;
}
.feedback-subscribe__field {
  border: none;
  padding: 15px 22px;
  background: #e1e1e1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  cursor: text;
}
.feedback-subscribe__btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px 22px;
  background-color: #f16d7f;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin-left: -5px;
}

/*Footer settings*/
.footer {
  background: #222224;
  padding: 30px;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.footer-socials {
  list-style-type: none;
  display: flex;
  gap: 8px;
  align-items: center;
}
.footer-socials__link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e1e1e1;
  padding: 8px 9px;
  width: 32px;
  height: 32px;
  color: #f16d7f;
}
.footer-socials__link:hover {
  background: #f16d7f;
  color: #fff;
}

/*Обнуление списков*/
/*Обнуление кнопки*/
.general-promo {
  background: #f8f3f4;
}
.general-promo__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  padding: 60px 0px 60px 0px;
}

.general-promo__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.general-promo__pag {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 8px;
}
.general-promo__pag-item:first-child::after {
  content: "/";
  margin-left: 5px;
  color: #636363;
}
.general-promo__pag-item:nth-child(2)::after {
  content: "/";
  margin-left: 5px;
  color: #636363;
}
.general-promo__pag-link {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
}

.general-promo__pag-purple {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
}

/*Обнуление списков*/
/*Обнуление кнопки*/
.other {
  margin: 96px 0px 128px 0px;
}
.other-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  color: #222224;
}

.other-catalog {
  padding: 20px 70px 20px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.other-catalog__item {
  width: 220px;
}

.other-catalog__item-info {
  padding: 8px 10px;
}

.other-catalog__item-name {
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  margin-bottom: 13px;
}

.other-catalog__item-img {
  width: 220px;
  height: 250px;
}

.other-catalog {
  margin-top: 18px;
}

.other-catalog__item-btn {
  background: none;
  border: none;
  cursor: pointer;
  outline: 1px solid #f16d7f;
  padding: 10px 15px;
  border-radius: 5px;
  color: #f16d7f;
}
.other-catalog__item-btn:hover {
  background: #f16d7f;
  color: #ffffff;
}

.empty-cat {
  margin-top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 350px;
}
.empty-cat__title {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}
.empty-cat__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
}

.filter-box {
  display: flex;
  gap: 30px;
}

.filter {
  width: 360px;
}

.filter-sort {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 30px;
}