.footer {
	background: #222224;
	padding: 30px;
}
.footer-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-info__text {
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #fbfbfb;
}
.footer-socials {
	list-style-type: none;
	display: flex;
	gap: 8px;
	align-items: center;

	&__link {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #e1e1e1;
		padding: 8px 9px;
		width: 32px;
		height: 32px;
		color: #f16d7f;

		&:hover {
			background: #f16d7f;
			color: #fff;
		}
	}
}
