@import "_mix.scss";
.header {
	background: #222222;
}
.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px;
}
.header-list {
	@include nule-list(0, 0, none);
	display: flex;
	gap: 18px;
	align-items: center;

	&__svg {
		fill: #e8e8e8;

		&:hover {
			fill: #f16d7f;
		}
	}

	&__button {
		@include nule-btn(none, none, pointer);
	}
}
