/*Basic settings*/
@import "_basic.scss";

/*Header settings*/
@import "_header.scss";

/*Promo settings*/
@import "_home/_promo.scss";

/*Categories settings*/
@import "_home/_categories.scss";

/*Product settings*/
@import "_product.scss";

/*Feedback settings*/
@import "_feedback.scss";

/*Footer settings*/
@import "_footer.scss";

// Cart settings

// Cart-promo
@import "_gen-promo.scss";

@import "_cart/_other.scss";

.empty-cat {
	margin-top: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 350px;

	&__title {
		font-weight: 400;
		font-size: 30px;
		line-height: 36px;
		color: #222222;
		text-align: center;
	}
	&__subtitle {
		font-weight: 400;
		font-size: 14px;
		line-height: 17px;
		color: #9f9f9f;
		text-align: center;
	}
}

.filter-box {
	display: flex;
	gap: 30px;
}
.filter {
	width: 360px;
}
.filter-sort {
	@include nule-list(0, 0, none);
	display: flex;
	gap: 30px;
}
