@import "../_mix.scss";
.cart {
	margin-top: 96px;
	margin-bottom: 144px;
}
.cart-wrap {
	display: flex;
	justify-content: space-between;
}
.cart-block {
	@include nule-list(0, 0, none);

	&__card {
		display: flex;
		box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
		width: 652px;
	}

	&__img {
		width: 262px;
		height: 306px;
	}

	&__info {
		padding: 22px 31px;
		position: relative;
	}

	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 29px;
		color: #222222;
		width: 262px;
	}

	&__text {
		font-weight: 400;
		font-size: 22px;
		line-height: 26px;
		color: #575757;

		&-pink {
			color: #ef5b70;
		}
	}
}

.cart-block__btn {
	@include nule-btn(none, none, pointer);
	position: absolute;
	top: 25px;
	right: -45px;
}
.cart-block__svg {
	fill: #575757;

	&:hover {
		fill: #ef5b70;
	}
}

.cart-block__describe {
	margin-top: 42px;
}
